.todo {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 800px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: whitesmoke;
}

.todo div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arriba {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: rgba(173, 4, 4, 0.74);
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.espacio {
  width: 100%;
  height: 70px;
}

.almedio {
  width: 100%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background-color: rgba(5, 5, 121, 0.096);
  background: radial-gradient(circle farthest-corner at 100px 100px, rgba(221, 215, 180, 0.301) 2%, rgba(145, 212, 233, 0.466) 0%, rgba(2, 13, 165, 0.705) 7%, rgba(6, 19, 194, 0.712) 20%);
}

.almedion {
  width: 100%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background-color: rgba(5, 5, 121, 0.945);
  background: radial-gradient(circle farthest-corner at 100px 100px, rgba(221, 215, 180, 0.623) 2%, rgba(180, 165, 31, 0.76) 0%, rgba(0, 17, 255, 0.123) 10%, rgba(0, 17, 255, 0.418) 20%);
}

.almedioc {
  width: 100%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background-color: rgba(5, 5, 121, 0.945);
  background: radial-gradient(circle farthest-corner at 100px 100px, rgba(221, 211, 155, 0.699) 2%, rgba(180, 165, 31, 0.582) 0%, rgba(0, 17, 255, 0.404) 10%, rgba(0, 17, 255, 0.644) 20%);
}

.abajo {
  width: 100%;
  -webkit-box-flex: 4.20;
      -ms-flex-positive: 4.20;
          flex-grow: 4.20;
  background-color: rgba(5, 70, 95, 0.883);
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.abajoc {
  width: 100%;
  -webkit-box-flex: 4.20;
      -ms-flex-positive: 4.20;
          flex-grow: 4.20;
  background-color: rgba(0, 128, 0, 0.692);
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.abajon {
  width: 100%;
  -webkit-box-flex: 4.20;
      -ms-flex-positive: 4.20;
          flex-grow: 4.20;
  background-color: rgba(0, 92, 128, 0.692);
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

img:hover {
  -webkit-box-shadow: rgba(255, 217, 0, 0.822) 0px 0px 10px 15px;
          box-shadow: rgba(255, 217, 0, 0.822) 0px 0px 10px 15px;
  border-radius: 150px 150px 150px 150px/150px 150px 150px 150px;
}

.contenedor {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-top: 100px;
  margin-left: 25%;
}

input:focus {
  -webkit-box-shadow: black 0px 0px 10px 5px;
          box-shadow: black 0px 0px 10px 5px;
  background-color: yellow;
}

div > div > div {
  width: 50%;
}
/*# sourceMappingURL=index.css.map */